.bg-color1 {
  background-color: #1F2C3D;
}

.bg-color2 {
  background-color: #0D5E79;
}

.bg-color3 {
  background-color: #379ec0;
}

.text-color1 {
  color: #1F2C3D;
}
.text-color4 {
  color: #DFDDE0;
}
.bg-color4 {
  background-color: #DFDDE0;
}
.ul li > div {
  height: 5px;
  width: 200px;
}

p,li,a,h3 {
  font-size: 14px;
}
.ul-2 li div > div {
  height: 5px;
  width: 250px;
}
